body{
	background: url("../imagenes/fondo2.jpg") no-repeat center center fixed;
	background-size: cover;
}

h1{
	text-align: center;
	color: #9A40DA;
	text-shadow: 1px 1px 1px #9A40DA;
}

h3{
	text-align: center;
	color: red;
}

p{
	text-align: center;
	color: white;
}

div.imagen{
	width: 300px;
	height: 312px;
	box-shadow: 4px 4px 4px 4px #00C2FA;
}



.menu a:hover{
	background: #A0EDFF;
}

.menu a{
	padding: 12px 20px;
}

*{/*Selector universal*/
	margin: 0;
	padding: 0;
}

.menu a{
	text-decoration: none; /*le quita el subrayado*/
	font-size: 20px; /*tamaño de letra*/
	color: white; /*cambio de color*/
	padding: 12px 20px;
	display: block;
}
.menu nav div img{
	width: 60px;
	border-radius: 50%;
}
.menu{
	background: #00BFFF;
}

.menu nav{
	display: flex;
	justify-content: space-around;
}

.menu nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.menu nav ul li ul{
	display: flex;
	flex-direction: column;
}

.menu nav ul li ul{
	position: absolute;
	background: #05d9e8;
}

.menu nav ul li ul li{
	width: 180px;
	position: relative;
}

.menu nav ul li ul{
	display: none;
}

.menu nav ul li:hover > ul{
	display: block;
}